<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.nipunarora.ally">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseAlly"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Companions.Eve.Eve_Main"
            android:parentActivityName=".ChooseAlly"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Companions.Adam.Adam_Main"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ChooseAlly">
        </activity>
        <activity android:name=".Companions.Eve.NutritionActivity" android:theme="@style/AppTheme.NoActionBar" android:parentActivityName=".Companions.Eve.Eve_Main">
        </activity>
    </application>

</manifest>